[package]
name = "crypto"
version = "0.1.0"
authors = ["OpenTron Developers <info@opentron.org>"]
edition = "2018"

[dependencies]
sha2 = "0.9"
sha3 = "0.9"
digest = "0.9"
types = { path = "../types" }
